<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Library</title>
  {% load static %}
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">

</head>

<body>
    <input type="text" id="TitleInput" onkeyup="titleFilter()" placeholder="Search for titles..">
    <input type="text" id="AuthorInput" onkeyup="authorFilter()" placeholder="Search for authors..">
    <input type="text" id="LanguageInput" onkeyup="languageFilter()" placeholder="Search for languages..">
    <input type="date" id="StartDateInput" onchange="dateFilter()" value="1900-01-01">
    <input type="date" id="EndDateInput" onchange="dateFilter()" value="2021-12-12">
    <a href="http://127.0.0.1:8000/add-book-import">
    <button>To Import</button>
    </a>
    <a href="http://127.0.0.1:8000/add-book-manual">
    <button>To Manual Add</button>
    </a>
    <a href="http://127.0.0.1:8000/search-book-REST">
    <button>To REST API Search</button>
    </a>
    <table id="books-to-filter">
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Publication Date</th>
        <th>ISBN</th>
        <th>Number of pages</th>
        <th>Cover</th>
        <th>Language</th>
      </tr>
      {% for obj in books %}
        <tr style="display: flow">
        <td>{{obj.title}}</td>
        <td>{{obj.author}}</td>
        <td>{{obj.publication_date}}</td>
        <td>{{obj.isbn}}</td>
        <td>{{obj.number_of_pages}}</td>
        <td>{{obj.cover}}</td>
        <td>{{obj.language}}</td>
        </tr>
      {% endfor %}
    </table>

    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    {% load static %}
    <script src="{% static '/js/FiltrateBooks.js' %}" type="text/javascript"></script>
</body>
</html>